<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start" class="ion-margin-start">
        <ion-button (click)="toggleMenu()">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon src="assets/Images/Logo.svg" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="logotext">{{ title }}</ion-title>
      <!-- <ion-toggle
        slot="end"
        (ionChange)="deviceTheme($event)"
        class="ion-margin-end ion-padding-end"
      ></ion-toggle> -->
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu side="start" menuId="first" contentId="main" swipe-gesture="true">
      <ion-content>
        <ion-list>
          <br />
          <a routerLink="home" style="text-decoration: none">
            <ion-item class="ion-activatable">
              <ion-icon name="folder-open" style="color: #070d4d"></ion-icon>
              <span class="menuLable">My Projects</span>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-item>
          </a>
          <br/>
          <a routerLink="notes" style="text-decoration: none">
            <ion-item class="ion-activatable">
              <ion-icon name="document" style="color: #f7bb32"></ion-icon>
              <span class="menuLable">Notes</span>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-item>
          </a>
          <a routerLink="tasks" style="text-decoration: none">
            <ion-item class="ion-activatable">
              <ion-icon name="reader" style="color: #a94064"></ion-icon>
              <span class="menuLable">Tasks</span>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-item>
          </a>

          <a routerLink="add" style="text-decoration: none">
            <ion-item class="ion-activatable">
              <ion-icon name="add" style="color: #4cbffb"></ion-icon>
              <span class="menuLable">Add</span>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-item>
          </a>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>
</ion-app>
