<div class="_content">
  <section class="_container">
     <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="notes">
            <ion-label>Notes</ion-label>
            <ion-icon name="document"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="tasks">
            <ion-label>Tasks</ion-label>
            <ion-icon name="reader"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
     </ion-tabs>
  </section>
</div>







<!-- <ul>
            <li *ngFor="let task of tasks">
              <app-task
                id="{{task.id}}"
                title="{{task.title}}"
                date="{{task.date}}"
                body="{{task.body}}"
                priority="{{task.priority}}"
              ></app-task>
            </li>
          </ul> -->



<!--
           <ul>
            <li class="ion-activatable _note" *ngFor="let item of note">
              <a
                routerLink="{{item.id}}"
                style="cursor: pointer; text-decoration: none"
              >
                <app-note
                  id="{{item.id}}"
                  title="{{item.title}}"
                  date="{{item.date}}"
                  body="{{item.body}}"
                ></app-note>
              </a>
              <ion-ripple-effect></ion-ripple-effect>
            </li>
          </ul> -->
